.content{
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    flex-direction: column;  
    justify-content: center;
    height: 900px;
    background-image: url('background.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 30% 80%;
    margin-top:20px;
    margin-left:20px;
}

@media (max-width:1024px){
    .content{
    display:block;
    margin: 0 auto;
          }
    }
@media (max-width:1024px){
    .container{
        background-size: 100%;
        background-position: 50px 120px;
    }
}

